@import '~nativescript-theme-core/css/core.light.css';

.btn {
    font-size: 18;
}

.view {
    animation-name: rotate;
    animation-duration: 3;
}

.actionBarHidden
{
    actionBarHidden: "true"
}
.coverImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.coverIm {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coverImageButtonIt {
    font-family: "Timeless";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("~/images/itButton.png");
    color: rgba(64,43,18,1);
    font-size: 25;
    font-weight: bold;
}

.coverImageButtonEn {
    font-family: "Timeless";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("~/images/enusButton.png");
    color: #ffffff;
    font-size: 25;
    font-weight: bold;
}

.coverImageButtonFr {
    font-family: "Timeless";
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("~/images/frButton.png");
    color: #ffffff;
    font-size: 25;
    font-weight: bold;
}

.roundEdge
{
    border-radius: 0 5 5 0;
}
.optimusFont
{
    font-family: "OptimusPrinceps";
}

.optimusFont_Bold
{
    font-family: "OptimusPrincepsSemiBold";
}

.TimelessFont
{
    font-family: "Timeless";
}

.TimelessFont_Bold
{
    font-family: "Timeless-Bold";
}

.drawer{
    background-color: rgba(64,43,18,0.8);
    color: white;
}

.tfstyle{
    border-bottom-width: 0.5;
    placeholder-color: white;
    border-color:white;
    color : white
}

Slider {
    color: #d9bb84;
    background-color: #bf5a1f;
}